extends layout.pug
block content    
    section#content.container
        br
        h5= text
        if hint
            p
                i Hint: #{hint}
        br
        .center-align.col.s12
            a.col.s12.m4.l2.waves-effect.waves-light.btn(href=`?side=${sideToShow}`)= sideToShowDisplay 
            |  
            a.col.s12.m4.l2.waves-effect.waves-light.btn(href=`/cards`) Next card
            |  
            a.col.s12.m4.l2.waves-effect.waves-light.btn(href=`/`) Go Home
            