extends layout.pug
block content    
    section#content.container 
            
      h3.center-align Welcome!
      br
      .center-align
        a.waves-effect.waves-light.btn(href=`/cards`)
          i.material-icons See Card

    include includes/footer.pug


