doctype html
html(lang="en")
  head
    title Flash Cards
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
    body
      include includes/header.pug
      block content