extends layout

block content
    .container
      br
      form(action='/welcome', method='post')
        label Please enter you name:
          input(type='text', name='username')
        button(type='submit').waves-effect.waves-light.btn Submit